# .gitignore
*.pyc
__pycache__/
.env
.DS_Store
.vscode/
.idea/
core-telecoms-venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Sensitive
google_service_account.json
*.pem
secrets/
secrets.json
airflow/config/airflow.cfg
