# .gitignore
*.pyc
__pycache__/
.env
.DS_Store
.vscode/
.idea/
core-telecoms-venv/
*.csv
*.log
logs/
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Sensitive
google_service_account.json
*.pem
secrets/
secrets.json
airflow/config/airflow.cfg
s3_script2.py
s3_script.py
quick_classes_tut.py
media_complaint_day_2025-11-20.json
agent


# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
target/
dbt_packages/
logs/

dbt-docs-output/
